<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看出行轨迹</title>
    <style>
        body, html{ width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #result { width:100%}
        #map_canvas{ width:100%; border-bottom:3px outset; filter:alpha(Opacity=100); -moz-opacity:1; opacity:1; z-index:10000; background-color:lightblue;}
    </style>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white"  style="background: #FFFFFF;">
<div class="page-wrapper">
    <div class="page-content">
        <div id="map_canvas"></div>
        <div id="controller" align="center">
            <div id="result"></div>
            <button id="run">开始</button>
            <button id="stop">停止</button>
            <button id="pause">暂停</button>
            <button id="hide">隐藏信息窗口</button>
            <button id="show">展示信息窗口</button>
        </div>
    </div>
</div>


</body>
<script src="{$smarty.const.PUBLIC_URL}js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="{$smarty.const.PUBLIC_URL}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tgXj9S1lLWl0ie7vGx3oYNzQkM3rLbO0"></script>
<!--<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}js/LuShu_min.js"></script>-->
<script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>

<script>
    var h = $(document).height();
    document.getElementById('map_canvas').style.height = (h-30)+'px';
    var marker;
    var map = new BMap.Map('map_canvas');
    var point = new BMap.Point(113.0371,28.176469);  // 创建点坐标
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl());
    map.enableScrollWheelZoom();
    map.centerAndZoom(point, 11);

    var driverData='{$driverPoint}'
    driverData=JSON.parse(driverData);

    if(driverData.length > 0){
        var gps_code = '{$gps_code}'
        var distance = '{$distance}'
        var arrPois = [];
        var json=eval(driverData);
        for(var i=0;i<json.length;i++){
            arrPois.push(new BMap.Point(json[i].longitude, json[i].latitude));
        }

        //标注起始点图标
        map.addOverlay(new BMap.Marker(arrPois[0],{
            icon:  new BMap.Icon("/Public/images/sjcc.png", new BMap.Size(64, 64), { anchor: new BMap.Size(32, 64)})
        }));
        map.addOverlay(new BMap.Marker(arrPois[arrPois.length-1],{
            icon:  new BMap.Icon("/Public/images/sjsc.png", new BMap.Size(64, 64), { anchor: new BMap.Size(32, 64)})
        }));

        //画线
        var polyline = new BMap.Polyline(arrPois,{ strokeColor:"red", strokeWeight:7, strokeOpacity:1 });
        map.addOverlay(polyline);


        //根据提供的坐标设置地图视野
        map.setViewport(arrPois);

        //标注小车
        marker=new BMap.Marker(arrPois[0],{
            icon  : new BMap.Icon('http://developer.baidu.com/map/jsdemo/img/car.png', new BMap.Size(52,26),{ anchor : new BMap.Size(27, 13)})
        });
        // var label = new BMap.Label("",{ offset:new BMap.Size(0,-30)});
        // label.setStyle({ border:"1px solid rgb(204, 204, 204)",color: "rgb(0, 0, 0)",borderRadius:"10px",padding:"5px",background:"rgb(255, 255, 255)",});
        // marker.setLabel(label);

        map.addOverlay(marker);

        lushu = new BMapLib.LuShu(map,arrPois,{
            defaultContent:"<p>GPS: "+ gps_code+"</p><p>里程:"+ distance +"</p>",//"从天安门到百度大厦"
            autoView:true,//是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整
            icon  : new BMap.Icon('http://developer.baidu.com/map/jsdemo/img/car.png', new BMap.Size(52,26),{ anchor : new BMap.Size(27, 13)}),
            speed: 1500,
            enableRotation:true,//是否设置marker随着道路的走向进行旋转
            landmarkPois:[
                // { lng:json[250].longitude,lat:json[250].latitude,html:'加油站',pauseTime:2}
            ]

        });

        marker.addEventListener("click",function(){
            marker.enableMassClear();   //设置后可以隐藏改点的覆盖物
            marker.hide();
            lushu.start();
            //map.clearOverlays();  //清除所有覆盖物
        });

        //绑定事件
        $("run").onclick = function(){
            marker.enableMassClear(); //设置后可以隐藏改点的覆盖物
            marker.hide();
            lushu.start();
            // map.clearOverlays();    //清除所有覆盖物
        }
        $("stop").onclick = function(){
            lushu.stop();
        }
        $("pause").onclick = function(){
            lushu.pause();
        }
        $("hide").onclick = function(){
            lushu.hideInfoWindow();
        }
        $("show").onclick = function(){
            lushu.showInfoWindow();
        }
        function $(id){
            return document.getElementById(id);
        }
    }
</script>
</html>


