<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>公务用车--后台管理</title>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/css/admin/global.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/plugin/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/plugin/easyui/themes/icon.css" />
</head>
<body onselectstart="return false;" style="-moz-user-select:none;">
<div class="mainbody">
    <div id="cloud1" class="cloud" ></div>
    <div id="cloud2" class="cloud" ></div>
</div>


<div class="dock">
    <div class="dock-body">
        <ul>
            <li onclick="openUrl('/index.php/Admin/User/changePwd','修改密码',1000,450)"><img src="{$smarty.const.PUBLIC_URL}/images/icon/pwd.png" title="修改密码" ></li>
            <li onclick="loginOut()"><img src="{$smarty.const.PUBLIC_URL}/images/icon/tuichu.png" title="退出" ></li>
        </ul>
    </div>
    <div class="dock-bottom"></div>
</div>


<div class="diskicon" style="display:inline-block; width:auto;">
    <ul>
        {if in_array("/index.php/Admin/Travel", $smarty.session.allUrls)}
        <li id="travel" text="出行管理" icon="{$smarty.const.PUBLIC_URL}/images/icon/travel.png" path="/index.php/Admin/Travel/backlogTravels?mid=1" data-property="{ title:'出行管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/travel.png" title="出行管理" ></span><span class="text">出行管理</span></li>
        {/if}

        {if in_array("/index.php/Admin/Company", $smarty.session.allUrls)}
        <li text="单位管理{$isHavaDwManage}" icon="{$smarty.const.PUBLIC_URL}/images/icon/company.png" path="/index.php/Admin/Company/allCompanys?mid=2" data-property="{ title:'单位管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/company.png" title="单位管理" ></span><span class="text">单位管理</span></li>
        {/if}

        {if in_array("/index.php/Admin/Car", $smarty.session.allUrls)}
        <li text="车辆管理" icon="{$smarty.const.PUBLIC_URL}/images/icon/car.png" path="/index.php/Admin/Car/allCars?mid=3" data-property="{ title:'车辆管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/car.png" title="车辆管理" ></span><span class="text">车辆管理</span></li>
        {/if}

        {if in_array("/index.php/Admin/Driver", $smarty.session.allUrls)}
        <li text="司机管理" icon="{$smarty.const.PUBLIC_URL}/images/icon/driver.png" path="/index.php/Admin/Driver/allDrivers?mid=4" data-property="{ title:'司机管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/driver.png" title="司机管理" ></span><span class="text">司机管理</span></li>
        {/if}

        {if in_array("/index.php/Admin/Statistics", $smarty.session.allUrls)}
        <li text="数据统计" icon="{$smarty.const.PUBLIC_URL}/images/icon/sjtj.png" path="/index.php/Admin/Statistics/byCompany?mid=5" data-property="{ title:'数据统计',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/sjtj.png" title="数据统计" ></span><span class="text">数据统计</span></li>
        {/if}

        {if in_array("/index.php/Admin/TravelSet", $smarty.session.allUrls)}
        <li text="系统配置" icon="{$smarty.const.PUBLIC_URL}/images/icon/peizhi.png" path="/index.php/Admin/TravelSet/travelSet?mid=6" data-property="{ title:'系统配置',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/peizhi.png" title="系统配置" ></span><span class="text">系统配置</span></li>
        {/if}

        {if in_array("/index.php/Admin/UserCenter", $smarty.session.allUrls)}
        <li text="用户管理" icon="{$smarty.const.PUBLIC_URL}/images/icon/geren.png" path="/index.php/Admin/UserCenter/userList?mid=7" data-property="{ title:'用户管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/geren.png" title="用户管理" ></span><span class="text">用户管理</span></li>
        {/if}

        {if in_array("/index.php/Admin/Report", $smarty.session.allUrls)}
		<li text="数据报表" icon="{$smarty.const.PUBLIC_URL}/images/icon/sjbb.png" path="/index.php/Admin/Report/byCompany?mid=67" data-property="{ title:'数据统计',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/sjbb.png" title="数据报表" ></span><span class="text">数据报表</span></li>
        {/if}


        {if in_array("/index.php/Admin/Log", $smarty.session.allUrls)}
        <li text="操作日志" icon="{$smarty.const.PUBLIC_URL}/images/icon/czrz.png" path="/index.php/Admin/Log/logList?mid=68" data-property="{ title:'操作日志',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/czrz.png" title="操作日志" ></span><span class="text">操作日志</span></li>
        {/if}

        {if in_array("/index.php/Admin/Finance", $smarty.session.allUrls)}
        <li text="费用管理" icon="{$smarty.const.PUBLIC_URL}/images/icon/finance.png" path="/index.php/Admin/Finance/washRecord?mid=72" data-property="{ title:'费用管理',minimize:'true',maximize:'false',target:'iframe',multiple:'false' }" data-style="[{ name:'left',value:'0px' },{ name:'top',value:'0px' }]" ><span class="icon"><span class="icon"><img src="{$smarty.const.PUBLIC_URL}/images/icon/finance.png" title="费用管理" ></span><span class="text">费用管理</span></li>
        {/if}
        <audio id="audio" src="/audio.mp3" preload="auto" style="display:none;"></audio>
        <!--<embed src="/audio.mp3" hidden="false" autostart="true" loop="true" width="0" height="0">-->
        <!--<audio id="audio" src="http://www.w3school.com.cn/i/song.ogg"></audio>-->

    </ul>
</div>
<div class="taskbar">
    <div class="taskbar-opacity"></div>
</div>
<div class="taskbar-body">
    <ul>
        <!--<li class="start"><span><img src="images/admin/logo.png" title="开始菜单" ></span></li>-->
        <li class="datetime" id="datetime"><span>21:04:25</span><span>2018/4/25</span></li>
        <li class="datetime" id="datetime3"><p>{$group.group_name}</p></li>
        <li class="datetime" id="datetime2"><p>{$user.user_name}</p></li>
    </ul>
</div>
<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/js/json.js"></script>
<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/js/jquery.cloud.js"></script>
<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/js/jquery.ui.win.js"></script>
<script src="{$smarty.const.PUBLIC_URL}/plugin/layer/layer.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function(e) {
        $.Init();	//初始化
        $(window).resize(function(){
            $('.window[status="maximized"]').css({ 'left':'0px','top':'0px','width':$(window).outerWidth()+'px', 'height':$(window).outerHeight()-40+'px' });
            $('.window[status="maximized"] .window-body').css({ 'height':$(window).outerHeight()-25 - 25,'width':$(window).outerWidth() - 2 });
        });

        //注入当前时间
        showTime();

        // play();
        notice();
        setInterval(notice,600*1000);

    });


    //广播播放
    function play(){
        document.getElementById("audio").play();
    }

    //弹出信息
    function noticeOpen(data) {
        var html = '<div style="padding: 20px 80px;">';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待审核<span style="color: #FF3F3F;margin-left: 10px">'+data.num1+'</span></p></div>';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待派车<span style="color: #FF3F3F;margin-left: 10px">'+data.num2+'</span></p></div>';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待出车<span style="color: #FF3F3F;margin-left: 10px">'+data.num3+'</span></p></div>';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待完成<span style="color: #FF3F3F;margin-left: 10px">'+data.num4+'</span></p></div>';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待核算<span style="color: #FF3F3F;margin-left: 10px">'+data.num5+'</span></p></div>';
        html += '<div style="width: 50%;height: 25px;line-height: 25px; float: left;  font-size: 26px"><p style="padding: 0; margin: 0 auto;">待取消<span style="color: #FF3F3F;margin-left: 10px">'+data.num6+'</span></p></div>';
        html += '</div>';
        layer.open({
            type: 1
            ,title : ['您有新的事务需要处理','font-size:18px;']
            ,offset: 'rb' //具体配置参考：offset参数项
            ,content: html
            ,btn: '立即处理'
            ,btnAlign: 'c' //按钮居中
            ,shade: 0 //不显示遮罩
            ,area : ['400px', '200px']
            ,time: 60*1000
            ,yes: function(){
                layer.closeAll();
                $("#travel").click();
            }
        });
    }

    function notice(){
        $.ajax({
            type:'post',
            url:"/index.php/Admin/Index/notice",
            dataType:'json',
            data:{},
            success:function(res){
                if(res.code == 1){
                    play();
                    noticeOpen(res.count);
                }
            }
        });
    }

    function loginOut() {
        window.location.href="/index.php/Admin/User/loginOut";
    }

    function openUrl(url,title,w,h) {
        layer.open({
            type: 2,
            title:title,
            area: [w+'px', h+'px'],
            fixed: false, //不固定
            maxmin: true,
            content: url
        });
    }

    function showTime()
    {
        //创建Date对象
        var today = new Date();
        //分别取出年、月、日、时、分、秒
        var year = today.getFullYear();
        var month = today.getMonth()+1;
        var day = today.getDate();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        //如果是单个数，则前面补0
        month  = month<10  ? "0"+month : month;
        day  = day <10  ? "0"+day : day;
        hours  = hours<10  ? "0"+hours : hours;
        minutes = minutes<10 ? "0"+minutes : minutes;
        seconds = seconds<10 ? "0"+seconds : seconds;

        // var str = year+"年"+month+"月"+day+"日 "+hours+":"+minutes+":"+seconds;
        var str="<span>"+hours+":"+minutes+":"+seconds+"</span><span>"+year+"/"+month+"/"+day+"</span>";
        var obj = document.getElementById("datetime");
        obj.innerHTML = str;
        //延时器
        window.setTimeout("showTime()",1000);
    }
</script>
</body>
</html>
