<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{$smarty.const.WEB_NAME}--登陆</title>
  <link rel="stylesheet" type="text/css" href="{$smarty.const.PUBLIC_URL}/css/login.css"/>
</head>
<body>
<!--cbe1ff-->
<div class="login_box">
  <div class="top_row">
    <div class="top_con">
      <img src="{$smarty.const.PUBLIC_URL}/img/login_logo.png"/>
      <dd>
        <h1 text="{$smarty.const.NAME_CN}">{$smarty.const.NAME_CN}</h1>
        <h2 text="{$smarty.const.NAME_EN}">{$smarty.const.NAME_EN}</h2>
      </dd>
    </div>
    <div class="input_box">
      <div class="boxtitle">
        用户端－登陆
      </div>
      <div class="input_row">
        <form method="post" action="{$smarty.const.__SELF__}">
        <input type="text" name="user_phone" id="user_phone" value="" class="input_account" placeholder="手机号码" />
        <input type="password" name="user_pwd" type="password" value="" class="input_account" placeholder="密码" />
        <button type="submit">立即登陆</button>
        </form>
      </div>
      <h4 style="color: #FF0000;">{$error}</h4>
    </div>
    <div class="buttom_info">
      <p>公务用车管理平台联系人  XXX  联系电话：XXXXXX</p>
      <p>技术支持：湖南玖玖华安网络科技有限公司</p>
    </div>
  </div>
</div>
</body>
</html>


<script type="text/javascript" src="{$smarty.const.PUBLIC_URL}/js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript">
    $(document).ready(function(){
        //设置窗口高度
        $(document.body).height($(window).height());
    });

    $(window).resize(function() {
        $(document.body).height($(window).height());
    });
</script>
